<clr-main-container>
  <clr-header *ngIf="authService.isAuthenticated()">
    <div class="branding">
      <a class="nav-link">
        <span class="title">HADU crew management</span>
      </a>
    </div>
  </clr-header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
    <clr-vertical-nav [clr-nav-level]="1" [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="collapsed"
      *ngIf="authService.isAuthenticated()">
      <a clrVerticalNavLink routerLink="/" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="user"></clr-icon> Me
      </a>
      <a clrVerticalNavLink routerLink="/messages" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="envelope"></clr-icon> Messages
      </a>
      <a clrVerticalNavLink routerLink="/members" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="users"></clr-icon> Members
      </a>
      <div class="nav-divider"></div>
      <a clrVerticalNavLink (click)="authService.logout()" routerLink="/login">
        <clr-icon clrVerticalNavIcon shape="logout"></clr-icon> Sign out
      </a>
    </clr-vertical-nav>
  </div>
</clr-main-container>