<clr-main-container>
  <div *ngFor="let a of alertService.alerts | async">
    <div class="alert alert-app-level" [ngClass]="{'alert-danger': a.type == 'danger'}" role="alert">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
          </div>
          <div class="alert-text">
            {{a.message}}
          </div>
        </div>
      </div>
      <button type="button" class="close" aria-label="Close" (click)="alertService.close(a.id)">
        <clr-icon aria-hidden="true" shape="close"></clr-icon>
      </button>
    </div>
  </div>
  <clr-header *ngIf="authService.isAuthenticated()">
    <div class="branding">
      <a class="nav-link" routerLink="/">
        <span class="title">HADU crew management</span>
      </a>
    </div>
  </clr-header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
    <clr-vertical-nav [clr-nav-level]="1" [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="collapsed"
      *ngIf="authService.isAuthenticated()">
      <a clrVerticalNavLink routerLink="/" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="user"></clr-icon> Me
      </a>
      <a clrVerticalNavLink routerLink="/messages" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="envelope"></clr-icon> Messages
      </a>
      <a clrVerticalNavLink routerLink="/members" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="users"></clr-icon> Members
      </a>
      <div class="nav-divider"></div>
      <a clrVerticalNavLink (click)="authService.logout()" routerLink="/login">
        <clr-icon clrVerticalNavIcon shape="logout"></clr-icon> Sign out
      </a>
    </clr-vertical-nav>
  </div>
</clr-main-container>